<div>
    {{#if handlebarsValidation}}
    <h1>Mail has been sent with restore password Link</h1>
    {{else}}
    <h2>
        {{#if wrong}}
        Link expired, generate another one:
        {{else}}
        Write your email, press Send and get a Link to Restore your password:
        {{/if }}
    </h2>
    <form action="/api/session/forgot-password" method="post">
        <label for="">Email:</label><input type="email" name="email">
        <div class="form-buttons">
            <button type="submit">Send</button>
        </div>
    </form>
    {{#if invalidUser}}
    <h3>Invalid credentials -User does not exist-</h3>
    {{/if}}
    {{/if}}
</div>