<h1>Chat and real-time-products with socket.io</h1>
<div>
    <h2>Chat with Socket.io</h2> 
    <h3>Press Enter to send</h3>
    <input type="text" id="inputData" />
    <p id="outputData"></p>
</div>
<br>
<br>
<br>
<br>
<div>
    <h2>Esto es real time products handlebars con socket.io</h2>
    <h3>Al manejarlo desde Postman con los métodos *Add Product, *Delete Product y *Update Product se actualiza y renderiza automaticamente mediante el uso de WebSockets entre app.js -server side- e index.js -client side-, usando realtimeproducts handlebar view.</h3>
    <h3>Además, antes funcionaba leyendo el JSON con file system, mientras que ahora funciona con mongoose conectandose a mi DataBase "ecommerce" y a mi colección "products"</h3>

    <ul id="productList"></ul>

</div>
<button class="css-button-3d--green"><a href="/products">Back to products</a></button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>


