<div>
    <h1>Esto es real time products handlebars con socket.io</h1>
    <h2>Al manejarlo desde Postman con los métodos *Add Product, *Delete Product y *Update Product se actualiza y renderiza automaticamente mediante el uso de WebSockets entre app.js -server side- e index.js -client side-, usando realtimeproducts handlebar view.</h2>
    <h2>Además, antes funcionaba leyendo el JSON con file system, mientras que ahora funciona con mongoose conectandose a mi DataBase "ecommerce" y a mi colección "products"</h2>

    <ul id="productList"></ul>

</div>

<div>
    <h3>Este va a ser el chat</h3> 
    <input type="text" id="inputData" />
    <p id="outputData"></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>



{{!--         <h1>Add a New Product</h1>
    <form id="productForm">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>

        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>

        <label for="thumbnail">Thumbnail URL:</label><br>
        <input type="text" id="thumbnail" name="thumbnail"><br>

        <label for="code">Product Code:</label><br>
        <input type="text" id="code" name="code"><br>

        <label for="stock">Stock:</label><br>
        <input type="number" id="stock" name="stock"><br>

        <input type="submit" value="Submit">
    </form>
    <p id="productsTag"></p> --}}
