<h1> REGISTER </h1>

<form action="/api/session/register" method="post"> 
    <label for="">Nombre</label> <input type="text" name="firstName" /> <br /> <br />
    <label for="">Apellido</label> <input type="text" name="lastName" /> <br /> <br />
    <label for="">Edad</label> <input type="number" name="age" /> <br /> <br />
    <label for="">Email</label> <input type="email" name="email" /> <br /> <br />
    <label for="">Password</label> <input type="password" name="password" /> <br /> <br />
    {{!-- El button siguiente es de tipo submit (por defecto), por lo que desencadena la action post del form --}}
    <button>Registrar</button>

</form>