<h2> Restore Password </h2>


<form action="/api/session/restore-password" method="post">
    <label>Email:</label><input type="email" name="email" /> <br/> <br/>
    <label>Password:</label><input type="password" name="password" /> <br/> <br/>
    <button type="submit">Restore Password</button>
</form>
<div>
{{#if passwordRepeat}}
<h2>Password must be different than before, please submit a new one</h2>
{{/if}}
</div>