<h1>User list</h1>
<button id="showUsersBtn">Show Users</button>
<button id="deleteInactiveUsersBtn">Delete Inactive Users</button>
<div id="usersContainer"></div>


<script src="js/users.js"></script>