<h1>Users Panel</h1>
<h2> Hello Admin, welcome to your Users Panel</h2>
<p> Here you can get a list with all users registered on the app DataBase by hitting "Show Users"</p>
<p> Also you can Delete Inactive Users who hasn't logged since more than 2 days</p>
<p> Lastly, you will be able to update the role or delete any specific user</p>
<p> We are currently working to include here the information relative to the subscription and payment required to become a premium user</p>
<button id="showUsersBtn">Show Users</button>
<button id="deleteInactiveUsersBtn">Delete Inactive Users</button>
<div id="usersContainer"></div>


<script src="js/users.js"></script>